@import "../../styles/base.scss";
@font-face {
    font-family: "SFregular";
    src: url("../../assets/fonts/SFPRODISPLAYREGULAR.OTF");
}


.feedback {
    padding: 10px 25px;
    font-size: 1rem;
    text-align: center;
    
}

