@import "../../styles/base.scss";
@font-face {
    font-family: "SFregular";
    src: url("../../assets/fonts/SFPRODISPLAYREGULAR.OTF");
}

body {
    font-family: SFregular;
    $secondary-color: color;
}

.container-product-information {
    padding: 50px 100px;
    margin: 10px 25%;
    font-size: 4rem;
}

.label-checkbox {
    margin-right: 25px;
}

.checkbox {
    width: 3rem;   
    height: 3rem;
}

button {
    font-size: 4rem;
}

.container-info {
    margin-top: 60px;
}

.cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.p-info,
.p-info2 {
    flex: 0 0 30%;
}

.imagen1 {
    width: 60%;
    margin: auto;
}

.imagen2 {
    width: 60%;
    margin: auto;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.button-cancel {
    background-color: transparent;
    border: none;
    color: gre y;
}
.button-next {
    padding: 10px 20px;
    background-color: $secondary-color;
    color: white;
    border: none;
}

.checkbox {
    margin: 40px 0;
}

.checkbox input {
    margin-left: 5px;
}
