@import "../../styles/base.scss";
@font-face {
    font-family: "SFregular";
    src: url("../../assets/fonts/SFPRODISPLAYREGULAR.OTF");
}

body {
    font-family: SFregular;
    $secondary-color: color;
    max-width: 1200px;
    margin: auto;
}

.container-product-information {
    padding: 60px 60px,60px;
    margin: 15px 6%;
    font-size: 1rem;
}

.label-checkbox {
    margin-right: 8px;
    
}

.checkbox {
    width: 15px;   
    height: 12px;
}

button {
    font-size: 1rem;
}

.container-info {
    margin-top: 20px;
   
}


.cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 40px;
}

.p-info,
.p-info2 {
    flex: 0 0 20;
    text-align: center;
}

.imagen1 {
    width: 20%;
    margin: auto;
}

.imagen2 {
    width: 20%;
    margin: auto;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    
}

.button-cancel {
    padding: 10px 30px;
    background-color: transparent;
    border: none;
    color: grey;
}
.button-next {
    padding: 10px 30px;
    background-color: $secondary-color;
    color: white;
    border: none;
}

.checkbox {
    margin: 15px 0;
}

.checkbox input {
    margin-left: 1px;
}
