

.form {
    padding: 50px 100px;
    margin: 10px 400px;
}


.input-form {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
}

.first-input-form {
    margin-right: 30px;
    
}

.form-inputs {
    display: flex;
    
}

